.shop-title {
  margin-top: 4rem;
  text-align: center;
  font-size: 5rem;
}

.products {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}

.product {
  border-radius: 15px;
  width: 300px;
  height: 350px;
  margin: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product img {
  width: 400px;
}

.product-details {
  text-align: center;
}

.product:hover {
  cursor: pointer;
}

.product img:hover {
  width: 420px;
  transition: 0.3s ease-in-out;
}

.add-to-cart-btn {
  background-color: transparent;
  border: 2px solid rgb(19, 19, 19);
  min-width: 100px;
  padding: 5px 10px;
  border-radius: 25px;
}

.add-to-cart-btn:hover {
  background-color: rgb(19, 19, 19);
  color: white;
  cursor: pointer;
}
